<h1>What state do you want to look up charities for? </h1>
<h2>Charity Naviagtor</h2>
<form method="post" action="/charities">
    Enter the two-letter of the state: <input type="text" name="state"><br>
    <input type="submit">
</form>
